#sectionFormulario {
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets//image/fundo.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#divformularioLogin {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#formularioLoginUser{
    width: 50%;
    margin-left: 25%;
    height: auto;
    margin-top: 10vh;
    border-radius: 30px;
    background-color: rgba(36, 39, 39, 0.322);
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
}
#logoLogin {
    margin-top: 30px;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 30px;
}
.titleloginUser {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.inputLoginCrister {
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 20px;background-color: rgba(0, 0, 0, 0.555);
}
#BtnLoginUser {
    background: linear-gradient(90deg, #004aad, #cb6ce6);
    width: 50%;
    height: 40px;
    border-radius: 5px;
    margin-left: 25%;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}
.alerta_login{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

@media (max-width: 800px){
    #formularioLoginUser{
        width: 90%;
        margin-left: 5%;
        height: auto;
        margin-top: 20vh;
        border-radius: 30px;
        background-color: rgba(36, 39, 39, 0.322);
        box-shadow: 3px 3px 10px black;
        cursor: pointer;
        }
    #logoLogin {
        margin-top: 30px;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 30px;
    }

}